.container {
    padding-top: 40px;
  }

  .hide {
    display: none;
  }

  .post-title {
    font-size: 20px;
  }

  .post-body{
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }

  .date{
    font-size: 14px;
  }
  #post-body{
    
    height: 20em;
  }
  #post-comment{
    height: 5em;
  }

  .delete {
    background-color: #FF3562;
    border-color: #FF3562;
  }
  .edit {
    background-color: #FF8C42;
    border-color: #FF8C42;
  }

  #login{
    background-color:#5BCB4E ;
    border-color: #5BCB4E;
  }

  .center {
    text-align: center;
  }
  .like{
    margin-top:20px;
  }

  .post {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    background-color: #FCFCFC;

    -webkit-box-shadow: 0px 0px 19px -12px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 19px -12px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 19px -12px rgba(0,0,0,0.73);
  }

