extends ../_layout.jade

block title
  title Posts

block content
  .container
    .row
      .column
        .float-left
          h2 Posts for #{blog.title}
        .float-right
          a.button.button-outline.fa.fa-plus(href="/blogs/#{blog._id}/posts/new")
          span &nbsp;
          a.button.button-outline.fa.fa-arrow-left(href="/blogs")
          
        table
          thead
            tr
              th title
              th body
              th created_data
              th comments
              th actions
          tbody
          
            each post in posts
              include ./row_item.jade
              